body {
    padding: 10px;
}

--root {
    --primary-color: #3d83cd;
    --primary-hover-color: #2a5d8c;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*var (--primary-color) = #3d83cd;
var (--primary-hover-color) = #2a5d8c;
*/
ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    
}

li {
    float: left;
    text-align: center;
}
li a {
    display: block;
    margin:auto;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
li a:hover {
    background-color: #111;
}
.navLinks {
    padding-left: 40%;
}
h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left:8px;
}

.headBar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
}

.navLinks {
    margin-left: 50px;
}

h1 {
    text-align: left;
    background-color: lightgrey;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
}

fieldset input,select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
    width: 70%px;
    padding: 20px;
    border: 5px ridge #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold ;
}

#submit {
    width: 200px;
    background-color: #3d83cd;
    color: white;
    padding: 10px 10px;
    border: 2px solid #2a5d8c;
    border-radius: 3px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}