body {
  font-family: Arial, sans-serif;
  display: block;
  background-color: #f4f6f9;
}
.navbar {
  background-color: var(--accent);
  color: white;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .brand {
  margin-right: auto;
  font-size: 1.2em;
}

.navbar-selected {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

.content {
  padding: 40px;
  text-align: center;
}
.welcome-msg {
  font-size: 2em;
  color: #333;
}
