*,
*::before,
*::after {
  /* This stops padding from making boxes wider than you set them */
  margin: 0;
  padding: 0;
}

:root {
  --accent: #3b5998;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 0px auto;
}

input {
  margin: 8px 0;
}
.note {
  font-size: 8px;
  margin-top: -8px;
  margin-bottom: 8px;
}

button {
  padding: 5px;
  background-color: var(--accent);
  border-radius: 5px;
  color: white;
}

.close-btn {
  cursor: pointer;
  font-size: 50px;
}

#error-msg {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Forms styling */

input[type="text"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.2);
}
